@tailwind base;
@tailwind components;
@tailwind utilities;

/* Todo: Setup highlight selection */
::selection {
    background: red;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(197, 208, 219);
}
